
    <div class="sti--header">
      <h1>Entry Bar Layout</h1>
    </div>

    <div class="sti-entry-bar">
      <div class="sti-entry-bar--entry">
        <div class="sti-entry-bar--entry__name">Username</div>
        <div class="sti-entry-bar--entry__action">
          <button>Login</button>
        </div>
      </div>
      <div class="sti-entry-bar--stats">
        <div class="sti-entry-bar--stats__group">
          <div class="label">Label</div>
          <div class="result">--</div>
        </div>
        <div class="sti-entry-bar--stats__group">
          <div class="label">Label</div>
          <div class="result">--</div>
        </div>
        <div class="sti-entry-bar--stats__group">
          <div class="label">Label</div>
          <div class="result">--</div>
        </div>
      </div>
    </div>