<div class="sti--view__static-content">
    <h1>Landing Page Stuff</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui, tenetur accusamus dignissimos quae temporibus accusantium exercitationem autem nisi aspernatur ducimus? Corrupti labore blanditiis aut deserunt et totam ut a.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui, tenetur accusamus dignissimos quae temporibus accusantium exercitationem autem nisi aspernatur ducimus? Corrupti labore blanditiis aut deserunt et totam ut a.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui, tenetur accusamus dignissimos quae temporibus accusantium exercitationem autem nisi aspernatur ducimus? Corrupti labore blanditiis aut deserunt et totam ut a.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui, tenetur accusamus dignissimos quae temporibus accusantium exercitationem autem nisi aspernatur ducimus? Corrupti labore blanditiis aut deserunt et totam ut a.</p>
</div>