<div class="sti--view__VIEW-NAME-HERE-FOR-VIEW-SCOPING">
  <div class="sti--header">
    <h1>Regular Page Layout</h1>
  </div>
  <div class="sti--static-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui, tenetur accusamus dignissimos quae temporibus accusantium exercitationem autem nisi aspernatur ducimus? Corrupti labore blanditiis aut deserunt et totam ut a.</p>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui, tenetur accusamus dignissimos quae temporibus accusantium exercitationem autem nisi aspernatur ducimus? Corrupti labore blanditiis aut deserunt et totam ut a.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui, tenetur accusamus dignissimos quae temporibus accusantium exercitationem autem nisi aspernatur ducimus? Corrupti labore blanditiis aut deserunt et totam ut a.</p>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui, tenetur accusamus dignissimos quae temporibus accusantium exercitationem autem nisi aspernatur ducimus? Corrupti labore blanditiis aut deserunt et totam ut a.</p>
  </div>
</div>