
    <div class="sti-tabular">
      <div class="sti-tabular--headline">
        <h1>Tabular Content Header</h1>
      </div>
      <div class="sti-tabular--header">
        <div class="sti-tabular--row">
          <div class="sti-tabular--column rank">Rank</div>
          <div class="sti-tabular--column entry-name">Entry Name</div>
          <div class="sti-tabular--column points">Points</div>
        </div>
      </div>
      <div class="sti-tabular--body">
        <div class="sti-tabular--row is-my-entry">
          <div class="sti-tabular--column rank">-- 10 -- </div>
          <div class="sti-tabular--column entry-name"> <a href="#">This is my entry</a></div>
          <div class="sti-tabular--column points"> -- 200</div>
        </div>
        <div class="sti-tabular--row  is-featured-entry">
          <div class="sti-tabular--column rank">-- 10 -- </div>
          <div class="sti-tabular--column entry-name"> <a href="#">This is a featured entry</a></div>
          <div class="sti-tabular--column points"> -- 200</div>
        </div>
        <div class="sti-tabular--row">
          <div class="sti-tabular--column rank">-- 10 -- </div>
          <div class="sti-tabular--column entry-name"> <a href="#">This is some random entry</a></div>
          <div class="sti-tabular--column points"> -- 200</div>
        </div>
        <div class="sti-tabular--row">
          <div class="sti-tabular--column rank">-- 10 -- </div>
          <div class="sti-tabular--column entry-name"> <a href="#">This is some random entry</a></div>
          <div class="sti-tabular--column points"> -- 200</div>
        </div>
      </div>
    </div>