%font-default
  font-family: arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
%bold-font
  font-weight: bold
  @extend %font-default
  
%regular-font
  @extend %font-default

%large-headline
  @extend %bold-font
  +adjust-font-size-to(36px, lines(3))

%medium-headline
  @extend %bold-font
  +adjust-font-size-to(24px, lines(2.5))

%small-headline
  @extend %bold-font
  +adjust-font-size-to(18px, lines(2))

%regular-text
  @extend %regular-font
  +adjust-font-size-to(16px, lines(1.7))

%medium-text
  @extend %regular-font
  +adjust-font-size-to(18px, lines(1.8))

%large-text
  @extend %regular-font
  +adjust-font-size-to(20px, lines(2.2))

%default-text-links
  a 
    +link-colors($link-primary, $link-hover, $link-active, $link-visited, $link-focus)
