/* line 5, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@has-edge-supports: index($supported-browsers, ie);
/* line 106, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 6, ../sass/globals/_baseline.sass */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/globals/_baseline.sass */
html, body {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/globals/_baseline.sass */
body {
  background-color: #e6e6e6;
}

/* line 17, ../sass/globals/_baseline.sass */
.sti--wrap {
  width: 100%;
  background-color: #fff;
  padding: 60px 0;
  padding: 3.75rem 0;
}

/* line 22, ../sass/globals/_baseline.sass */
.sti--view {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.sti--view:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 1, ../sass/globals/helpers/_typography.sass */
.sti--view__static-content h1, .sti--view__static-content h2, .sti--view__static-content h3, .sti--view__static-content h4, .sti--view__static-content h5, .sti--view__static-content h6, .sti--wrap, button, .button, .vendor--layout__header, .vendor--layout__footer, .sti--view__static-content p, .sti--view__static-content li, .sti--view__static-content td {
  font-family: arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 5, ../sass/globals/helpers/_typography.sass */
.sti--view__static-content h1, .sti--view__static-content h2, .sti--view__static-content h3, .sti--view__static-content h4, .sti--view__static-content h5, .sti--view__static-content h6 {
  font-weight: bold;
}

/* line 12, ../sass/globals/helpers/_typography.sass */
.sti--view__static-content h1 {
  font-size: 2.25em;
  line-height: 3;
}

/* line 16, ../sass/globals/helpers/_typography.sass */
.sti--view__static-content h2 {
  font-size: 1.5em;
  line-height: 2.5;
}

/* line 20, ../sass/globals/helpers/_typography.sass */
.sti--view__static-content h3, .sti--view__static-content h4, .sti--view__static-content h5, .sti--view__static-content h6 {
  font-size: 1.125em;
  line-height: 2;
}

/* line 24, ../sass/globals/helpers/_typography.sass */
.sti--wrap, button, .button, .vendor--layout__header, .vendor--layout__footer, .sti--view__static-content p, .sti--view__static-content li, .sti--view__static-content td {
  font-size: 1em;
  line-height: 1.7;
}

/* line 37, ../sass/globals/helpers/_typography.sass */
.sti-nav--inline__item a, .sti-tabular--body > div a, .sti--view__static-content p a, .sti--view__static-content li a, .sti--view__static-content td a {
  color: blue;
}
/* line 18, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/typography/links/_link-colors.scss */
.sti-nav--inline__item a:visited, .sti-tabular--body > div a:visited, .sti--view__static-content p a:visited, .sti--view__static-content li a:visited, .sti--view__static-content td a:visited {
  color: blue;
}
/* line 21, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/typography/links/_link-colors.scss */
.sti-nav--inline__item a:focus, .sti-tabular--body > div a:focus, .sti--view__static-content p a:focus, .sti--view__static-content li a:focus, .sti--view__static-content td a:focus {
  color: red;
}
/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/typography/links/_link-colors.scss */
.sti-nav--inline__item a:hover, .sti-tabular--body > div a:hover, .sti--view__static-content p a:hover, .sti--view__static-content li a:hover, .sti--view__static-content td a:hover {
  color: #000099;
}
/* line 27, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/typography/links/_link-colors.scss */
.sti-nav--inline__item a:active, .sti-tabular--body > div a:active, .sti--view__static-content p a:active, .sti--view__static-content li a:active, .sti--view__static-content td a:active {
  color: red;
}

/* line 1, ../sass/components/ui/buttons/_button-base-styles.sass */
button, .button {
  padding: 0 5px;
  margin: 0;
  height: 24px;
  line-height: 24px;
  background-color: blue;
  border: #0000cc 1px solid;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
}
/* line 12, ../sass/components/ui/buttons/_button-base-styles.sass */
button:focus, button:active, .button:focus, .button:active {
  outline: none;
}

/* line 1, ../sass/components/ui/forms/_form-base-styles.sass */
input[type="text"],
input[type="search"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 9, ../sass/components/ui/forms/_form-base-styles.sass */
input[type="text"],
input[type="search"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="number"] {
  border: #ccc 1px solid;
  color: #bfbfbf;
  height: 24px;
  line-height: 24px;
  padding: 0 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 61, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="number"]:-moz-placeholder {
  color: #e6e6e6;
  font-style: italic;
}
/* line 64, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder {
  color: #e6e6e6;
  font-style: italic;
}
/* line 67, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder {
  color: #e6e6e6;
  font-style: italic;
}
/* line 56, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
input[type="text"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder {
  color: #e6e6e6;
  font-style: italic;
}

/* line 3, ../sass/components/layout/_vendor-wrapper.sass */
.vendor--layout {
  width: 100%;
}
/* line 5, ../sass/components/layout/_vendor-wrapper.sass */
.vendor--layout__header, .vendor--layout__footer {
  margin: 0 auto;
  width: 1000px;
}
/* line 9, ../sass/components/layout/_vendor-wrapper.sass */
.vendor--layout__header {
  height: 70px;
  background-color: #e6e6e6;
}
/* line 12, ../sass/components/layout/_vendor-wrapper.sass */
.vendor--layout__footer {
  background-color: #e6e6e6;
}

/* line 2, ../sass/components/nav/__manifest.sass */
.sti-nav--tabbed {
  overflow: hidden;
  *zoom: 1;
}
/* line 4, ../sass/components/nav/__manifest.sass */
.sti-nav--tabbed__item {
  width: 150px;
  float: left;
  margin-right: 5.26316%;
  margin-right: 0;
  text-align: center;
}
/* line 8, ../sass/components/nav/__manifest.sass */
.sti-nav--tabbed__link {
  display: block;
  color: #b3b3b3;
  background-color: #e6e6e6;
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
}
/* line 38, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/bundler/gems/stikaizen-641a4c106ebb/stylesheets/stikaizen/helpers/__platforms.sass */
.sti-nav--tabbed__link:hover {
  background-color: #e3e3e3;
}
/* line 55, ../../../../.rvm/gems/ruby-2.0.0-p576@baseline/bundler/gems/stikaizen-641a4c106ebb/stylesheets/stikaizen/helpers/__platforms.sass */
.sti-nav--tabbed__link:active {
  background-color: #dedede;
}
/* line 19, ../sass/components/nav/__manifest.sass */
.active .sti-nav--tabbed__link {
  background-color: #000;
  color: #fff;
}
/* line 23, ../sass/components/nav/__manifest.sass */
.sti-nav--inline__item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 26, ../sass/components/nav/__manifest.sass */
.sti-nav--inline__link {
  font-size: 16px;
  line-height: 30px;
}

/* line 3, ../sass/components/tabular/__manifest.sass */
.sti-tabular--row {
  border-bottom: #ccc 1px solid;
  overflow: hidden;
  *zoom: 1;
}
/* line 6, ../sass/components/tabular/__manifest.sass */
.sti-tabular--row.is-featured-entry {
  background-color: #e6e6e6;
  color: #000;
}
/* line 9, ../sass/components/tabular/__manifest.sass */
.sti-tabular--row.is-my-entry {
  background-color: #bfbfbf;
  color: #000;
}
/* line 12, ../sass/components/tabular/__manifest.sass */
.sti-tabular--column {
  float: left;
}
/* line 15, ../sass/components/tabular/__manifest.sass */
.sti-tabular--header > div {
  font-weight: bold;
  line-height: 24px;
}
/* line 19, ../sass/components/tabular/__manifest.sass */
.sti-tabular--body > div {
  line-height: 60px;
}

/* line 11, ../sass/views/_static-content.sass */
.sti--view__static-content p, .sti--view__static-content ul, .sti--view__static-content ol, .sti--view__static-content table {
  margin-bottom: 1.5em;
}
/* line 13, ../sass/views/_static-content.sass */
.sti--view__static-content p strong, .sti--view__static-content p b, .sti--view__static-content ul strong, .sti--view__static-content ul b, .sti--view__static-content ol strong, .sti--view__static-content ol b, .sti--view__static-content table strong, .sti--view__static-content table b {
  font-weight: bold;
}
/* line 15, ../sass/views/_static-content.sass */
.sti--view__static-content p em, .sti--view__static-content p i, .sti--view__static-content ul em, .sti--view__static-content ul i, .sti--view__static-content ol em, .sti--view__static-content ol i, .sti--view__static-content table em, .sti--view__static-content table i {
  font-style: italic;
}
/* line 18, ../sass/views/_static-content.sass */
.sti--view__static-content ul li {
  list-style: square;
}
/* line 21, ../sass/views/_static-content.sass */
.sti--view__static-content ol li {
  list-style: decimal;
}
/* line 23, ../sass/views/_static-content.sass */
.sti--view__static-content table {
  width: 100%;
  border-collapse: collapse;
}
/* line 26, ../sass/views/_static-content.sass */
.sti--view__static-content table td, .sti--view__static-content table th {
  border-bottom: #ccc 1px solid;
  padding: 10px;
}
