.sti--view__static-content
  #{headings(all)}, th
    @extend %bold-font
  h1
    +adjust-font-size-to(36px, lines(36px * 2.5))
  h2
    +adjust-font-size-to(24px, lines(24px * 2.75))
  h3, h4, h5, h6
    +adjust-font-size-to(21px, lines(21px * 3))
  p, li, td
    +adjust-font-size-to(16px, lines(16px * 1.6))
  p, ul, ol, table
    +margin-trailer(1)
    strong, b
      font-weight: bold
    em, i 
      font-style: italic
  ul
    li
      list-style: square
  ol
    li  
      list-style: decimal
  table
    width: 100%
    border-collapse: collapse
    td, th
      border-bottom: $border-color 1px solid
      padding: 10px