// Baseline styles for all platforms. 
// This file is called from the platforms directory for each screen type,
// to allow for variable overrides.

+establish-baseline

*,
*:before,
*:after
  +box-sizing(border-box)

html, body
  margin: 0
  padding: 0
body
  background-color: $site-background-color

pre
  white-space: pre-wrap
  white-space: -moz-pre-wrap
  white-space: -o-pre-wrap
  word-wrap: break-word

code
  font-family: Courier, 'New Courier', monospace
  font-size: 12px
  display: block
  background-color: $color-light-gray
  border: darken($color-light-gray, 5%) 1px solid
  +margin-trailer(2)

@if $vendor-wrapper == true
  .vendor
    &--layout
      width: 100%
      &__header, &__footer
        @extend %regular-text
        margin: 0 auto
        width: $site-width
      &__header
        height: $vendor-header-height
        background-color: $vendor-header-color
      &__footer
        background-color: $vendor-footer-color
      
.sti
  background-color: $sti-container-color
  a
    +link-colors($link-primary, $link-hover, $link-active, $link-visited, $link-focus)
  @extend %regular-text
  &--layout 
    &__block
      width: $site-width
      margin: 0 auto
      @if $site-padding > 0
        padding: $site-padding