// Baseline styles for all platforms. 
// This file is called from the platforms directory for each screen type,
// to allow for variable overrides.
+establish-baseline

*,
*:before,
*:after
  +box-sizing(border-box)

html, body
  margin: 0
  padding: 0
body
  background-color: $site-background-color


@if $vendor-wrapper == true
  .vendor
    &--layout
      width: 100%
      &__header, &__footer
        @extend %regular-text
        margin: 0 auto
        width: $site-width
      &__header
        height: $vendor-header-height
        background-color: $vendor-header-color
      &__footer
        background-color: $vendor-footer-color
      
.sti
  width: 100%
  background-color: $sti-container-color
  @extend %regular-text